body {
    background-color: #022520;
    color: white;
    font-family: 'Times New Roman', serif;
}
.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navbar .logo img {
    width: 100px;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}
.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}
.navbar .links a {
    color: rgb(144, 100, 18);
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}
.navbar .links a:hover {
    color: rgb(18, 129, 144);
}
.header {
    text-align: center;
    margin-top: 20px;
}
h1, h2 {
    color: rgb(144, 100, 18);
}
.section {
    margin: 20px;
}
.project-name {
    color: #b03bd1;
    text-decoration: none;
}
.project-name:hover {
    color: #ff33cc;
}
.proexp_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.proexp_company_name,
.proexp_company_loc,
.proexp_name,
.proexp_date {
    margin: 0;
    padding: 0;
}
.proexp_company_name,
.proexp_name {
    color: rgb(204, 203, 203);
}
.proexp_company_name:hover {
    color: #ff33cc;
}
.proexp_name:hover {
    color: rgb(17, 96, 120);
}
.proexp_company_loc,
.proexp_date {
    font-style: italic;
    color: rgb(204, 203, 203);
}
.proexp_name {
    margin-top: 5px;
}
.proexp_date {
    margin-top: 5px;
}
@media (max-width: 760px) {
    h1 {
        font-size: 15px;
    }
    .navbar .links a {
        color: rgb(144, 100, 18);
        font-size: 0.7rem;
        font-weight: 500;
        text-decoration: none;
        transition: 0.1s ease;
    }
}
